.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.paperContainer{

}

.typo1{
    color: greenyellow;
}
.typo2{
    color: hotpink;
}
.typo3{
    color: rgb(240, 236, 14);
}

.paper{
    width: 290px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0;
    
}

@media only screen and (max-width: 600px){
    .container{
        gap: 0;
    }
    .paper{
        width: 90vw;
        padding: 10px;
    }
}