 .Card{
   display: flex !important;
   justify-content: center !important;
   width: 70%;
   padding-top: 10px;
   margin-bottom: 20px;
}

.container{
   display: flex !important;
   justify-content: center!important;
}

@media only screen and (max-width: 600px){
    .Card{
        width: 90vw;
        height: 200px;
    }
}
