.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .card {
    width: 40vw;
    height: 45vh;
    padding: 2%;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .card {
      width: 90vw !important;
      height: 45vw !important;
      padding: 0;
    }
  }
  