.text{
    margin-top: 2px !important;
    margin-bottom: 15px !important;
}

.skeleton{
    margin-bottom: 5px !important;
}

.MuiSkeleton-text {
    margin-bottom: 5px;
}

.alignRight{
   float: right;
}