@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.AppBar{
    /* background-image: url('../../images/icons8-coronavirus-96.png'),url('../../images/icons8-coronavirus-50.png');
    background-repeat: no-repeat;
    background-size: contain ,10%;
    background-position-x: 62%,30%; */
}


.toolBarContainer{
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    padding:0 !important;
}
