.interactive{
    display: flex;
    justify-content: center;
    /* width: 100%; */
   
}

.title{
    padding: 5px;
    margin-bottom: 20px !important;
    font-size: 20px !important;
}

.iframe{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 300px;
    margin-bottom: 60px;
    border-radius: 7px;
    box-shadow: none;
    outline: none;
}

.loader{
  /* display: block;
  margin-left: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


@media only screen and (max-width: 600px){
    .iframe{
        width: 90vw;
        height: 230px;
    }
}