.card{
    width: 40vw;
    height: 45vh;
    margin-top: 20px;
}

@media screen and (max-width:600px){
    .card{
        width: 90vw;
    }
}

/* @media screen and (max-width: 1024px) {
    .card {
      width: 45vw !important;
      height: 50vw !important;
      padding: 0;
    }
  } */